<h1>Add New Actor</h1>

<form class="form-horizontal" action="/actors/add_row">
  <div class="form-group">
    <label for="name" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-8">
      <input type="text" id="name" name="name" class="form-control">
    </div>
  </div>

  <div class="form-group">
    <label for="dob" class="col-sm-2 control-label">D.O.B.</label>
    <div class="col-sm-8">
      <input type="text" id="dob" name="dob" class="form-control">
    </div>
  </div>

  <div class="form-group">
    <label for="bio" class="col-sm-2 control-label">Bio</label>
    <div class="col-sm-8">
      <textarea id="bio" name="bio" class="form-control" rows="8"></textarea>
    </div>
  </div>

  <div class="form-group">
    <label for="image_url" class="col-sm-2 control-label">Image URL</label>
    <div class="col-sm-8">
      <input type="text" id="image_url" name="image_url" class="form-control">
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input type="submit" value="Add Actor" class="btn btn-primary">
    </div>
  </div>
</form>
